/* Code highlight */

/* ----------------------------------------- */
code .str { color : #a0a019; }

code .kwd { color : #9faa6f; }

code .com { color : #686c75; }

code .typ { color : #606; }

code .lit { color : #8250e6; }

code .pun,
code .opn,
code .clo { color : #2e2e2e; }

code .tag { color : #f386ac; }

code .atn { color : #9fd0ec; }

code .atv { color : #dcc175; }

code .dec,
code .var { color : #606; }

code .fun { color : red; }






code .pln { color : #48484C !important; }

code .str { color : #DD1144 !important; }

code .kwd { color : #1E347B !important; }

code .com { color : #93A1A1 !important; }

code .typ { color : teal !important; }

code .lit { color : #195F91 !important; }

code .pun { color : #93A1A1 !important; }

code .opn { color : #93A1A1 !important; }

code .clo { color : #93A1A1 !important; }

code .tag { color : #008 !important; }

code .atn { color : teal !important; }

code .atv { color : #DD1144 !important; }

code .dec { color : teal !important; }

code .var { color : teal !important; }

code .fun { color : #DC322F !important; }

/* ----------------------------------------- */

code ol { margin : 0; padding : 0; }

code ol li { list-style : none; }

/* ----------------------- */

code .linenums {
	counter-reset : line;
	line-height   : 20px !important;
}

code .linenums li {
	position    : relative;
	position    : relative;
	line-height : 20px !important;
	padding     : 2px 10px !important;
	list-style  : none;
}

code .linenums li span {
	word-wrap   : break-word;
	white-space : pre-wrap;
}

code .linenums li:hover {
	background : #f1f1f1;
}

code .linenums li:before {
	content           : counter(line);
	counter-increment : line;
	position          : absolute;
	left              : -30px;
	text-align        : right;
	display           : block;
	width             : 25px;
	font-size         : 11px;
	line-height       : 20px;
	color             : #ccc;
}

code .linenums li:hover:before {
	color : #464646;
}

code {
	width       : auto;
	font-family : Lucida Console, Monaco, Andale Mono, "MS Gothic", monospace;
	display     : inline;
	font-size   : 13px !important;
	color       : #50535a;
	border-left : 1px #ddd solid;
}

pre code {
	background  : #f5f5f5;
	white-space : pre;
	margin      : 0;
	padding     : 0;
}

pre > code {
	display          : block;
	background-color : #383a3f;
	padding          : 0;
	text-shadow      : 0 1px 0px #fff;
	color            : #9c9fa7;
}

pre>code {
	background  : none !important;
	margin      : 0;
	display     : block;
	color       : #9c9fa7;
	padding     : 10px 0 10px 0px;
	white-space : pre-wrap;
	white-space : -moz-pre-wrap;
	white-space : -pre-wrap;
	white-space : -o-pre-wrap;
	word-wrap   : break-word;
	background  : #fcfcfc !important;
}

pre {
	tab-size    : 4;
	font-size   : 13px;
	color       : #444;
	overflow    : hidden;
	box-shadow  : 0 0 0 1px #e8e8e8;
	display     : block;
	font-size   : 13px;
	line-height : 20px;
	color       : #444;
	overflow    : hidden;
	background  : #f5f5f5;
	margin      : 0 -30px;
	padding     : 0 0 0 30px !important;
}